In [1]:
import pandas as pd

In [2]:
# Leemos los archivos CSV por separado

df1 = pd.read_csv('../data/distrito10.csv')
df2 = pd.read_csv('../data/distrito11.csv')
df3 = pd.read_csv('../data/distrito12.csv')

In [3]:
# Concatenaremos utilizando la función concat
# Esto unirá los df uno debajo de otro en el orden que los proporcionas

distritosFer = pd.concat([df1,df2,df3])

In [4]:
# Observamos que están todos los datos de los anteriores dataframes

distritosFer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 49
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       150 non-null    int64
 1   name             150 non-null    object
 2   rating           150 non-null    float64
 3   address          150 non-null    object
 4   description      150 non-null    object
 5   review           30 non-null     object
 6   alias            150 non-null    object
 7   image_url        142 non-null    object
 8   is_closed        150 non-null    bool
 9   review_count     150 non-null    int64
 10  latitude         150 non-null    float64
 11  longitude        150 non-null    float64
 12  location         150 non-null    object
 13  display_phone    134 non-null    object
 14  price            90 non-null     object
 15  hours            0 non-null      float64
 16  transactions     150 non-null    object
 17  languages        0 non-null      float64
 18  attributes       0 non-null      float64
 19  transit          0 non-null      float64
 20  best_time        0 non-null      float64
 21  delivery         0 non-null      float64
 22  pickup           0 non-null      float64
 23  online_ordering  0 non-null      float64
dtypes: bool(1), float64(11), int64(2), object(10)
memory usage: 28.3+ KB

In [ ]:
# Pasamos a CSV los 3 dataframes

distritosFer.to_csv('../data/distrito101112.csv')